
<div class = "container">

    <div class = "row spacer otherfont">
        <h1> Welcome to my Spring-Angular project!</h1>
    </div>

    <div class = "row spacer">
        <div class = "col-8">
            <h3> Logged in message: {{loginMessage}}</h3>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-info" (click)="firstButtonEvent()">button!</button>
        </div>
    </div>

    <div class = "row spacer">
        <div class = "col-8">
            <h3> Logged out message: {{logoutMessage}}</h3>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-info" (click)="secondButtonEvent()">button!</button>
        </div>
    </div>

    <div class = "row spacer">
        <div class = "col-8">
            <h3> User details: {{userDetails}} </h3>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-info" (click)="thirdButtonEvent()">button!</button>
        </div>
    </div>
</div>
